/* Event.css */
/* :root{
  background-color: #343a40;
}
body{
  background-color: #343a40;
} */

.modal-body {
    display: flex;
    flex-direction: column;
  }
  
  .modal-body label {
    margin-bottom: 10px;
  }
  
  .modal-body input,
  .modal-body textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .modal-body button {
    width: 100%;
    padding: 8px;
  }  